:root {
  --site-primary: rgb(109, 127, 186);
  --site-primary-bold: rgb(79, 97, 158);
  --site-secondary: rgb(195, 202, 226);
  --site-background: rgb(234, 237, 245);
}
html,body { 
    height:100vh; 
    width: 100%;
    background-color: var(--site-primary);
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: rgb(0, 0, 83);
}
/* NAV CSS */
.adminNav {
    height: 30px;
    width: 100%;
    padding-top: 15px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 250px auto;
    grid-template-areas:
    "firstNav primaryNav lastNav"
}
.navItem {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline;
    margin-right: 15px;

}
.firstNavItem {
    grid-area: firstNav;
    margin: 0 0 0 15px;
}
.primaryNav {
    grid-area: primaryNav;
}
.lastNavItem {
    grid-area: lastNav;
    position: absolute;
    top: 15px;
    right: 0;
}
.splash {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}