.practiceGrid {
    display: grid;
    grid-template-columns: 55px 250px minmax(550px, 700px) auto;
    grid-template-areas:
    "nav practicesTable practiceDetails .";
    height: 100vh;
}
.practiceTable {
    grid-area: practicesTable;
    width: 100%;
    z-index: 1;
}
.practiceTableHead {
    background-color: var(--site-background);
    height: 35px;
    border-bottom: 1px solid lightgrey;
}
.practiceTableHead div {
    background-color: white;
    width: 30%;
    height: 99%;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.tableIndex{
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}
.practiceTableItem {
    background-color: white;
    border-bottom: 1px solid var(--site-background);
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
}
.practiceTableItem img {
    width: 25px;
    margin-right: 5px;
}
.practiceTableItem p {
    display: inline;
}
.practiceDetails {
    grid-area: practiceDetails;
}