:root {
  --site-primary: rgb(0, 166, 243);
}
.adminGrid {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: 45px 30px auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "adminNav adminNav adminNav"
    ". title ."
    ". firstBlock ."
    ". secondBlock .";
}
/* NAV CSS */
.adminNav {
    grid-area: adminNav;
    padding-top: 13px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: auto 60px 60px auto;
    grid-template-areas: ". navHome navControl .";
}
.navHome {
    grid-area: navHome;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.navControl {
    grid-area: navControl;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
/* Table CSS */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: .9em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr {
    background-color: var(--site-primary);
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid lightgrey;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--site-primary);
}
/* BODY CSS for CONTROL*/
.adminTitle {
    grid-area: title;
}
.firstBlock {
    grid-area: firstBlock;
    margin: 20px 0;
}
.secondBlock {
    grid-area: secondBlock;
}
footer {
    margin-top: 20px;
}
/* BODY CSS for createNODE */
.creationForm > p {
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 0;
}
.creationForm > p > input {
    width: 100%;
    height: 25px;
    font-size: 1em;
    padding: 0 5px;
}
.creationForm > input {
    margin-top: 10px;
    width: 107%;
    font-size: 1em;
}
/* DELETE CSS */
.delete > input {
    width: 100%;
    margin: 5px 0;
}