.locationImg {
    background-size: cover;
    width: 100%;
    height: 250px;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
}
.locationDescription {
    color: white;
    position: absolute;
    bottom: 8px;
}
.getDirections {
    padding: 6px 25px;
    border: none;
    background-color: rgb(83, 157, 255);
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    font-size: .8em;
}
.practiceDescription {
    margin: 5px 0 0 10px;
}
.detailHolder {
    padding: 15px;
}
.detailHolder > h4 {
    margin: 10px 0 15px 5px;
}
.createComment {
    border: 1px solid rgb(83, 157, 255);
    float: right;
    height: 15px;
    width: 15px;
    text-align: center;
    border-radius: 15px;
    color: rgb(83, 157, 255);
    position: relative;
}
.createComment:hover {
    cursor: pointer;
}
.createComment:hover,
.createComment:focus {
    border: 1px solid rgb(83, 109, 255);
    color: rgb(83, 109, 255);
}
.createComment p {
    position: absolute;
    top: -2px;
    left: 3px;
}
.itemHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.itemHolder > a {
    text-decoration: none;
    color: black;
}
.heldItem {
    box-shadow: 1px 1px 6px grey;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    height: 150px;
    position: relative;
}
.logoHolder {
    margin-top: 15px;
}
.heldItem > span {
    position: absolute;
    bottom: 25px;
    width: 100%;
    left: 0;
}
.commentHolder {
    width: 100%;
    height: auto;
}
.heldComment {
    margin-bottom: 30px;
}
.heldComment > p {
    font-size: 1.1em;
    color: black;
}
.heldComment > h5 {
    float: right;
}
@media screen and (max-width: 600px) {
    #mapid {
        display: none;
    }
    .themeBar {
        top: 0;
        border: none;
        box-shadow: none;
    }
}