.backToLocations {
    margin: 7px 0 0 10px;
    text-decoration: none;
    color: blue;
}
.locationImg {
    background-size: cover;
    width: 100%;
    height: 250px;
    padding: 8px;
    box-sizing: border-box;
    position: relative;
}
.locationDescription {
    color: white;
    position: absolute;
    bottom: 8px;
}
.getDirections {
    padding: 6px 25px;
    border: none;
    background-color: rgb(83, 157, 255);
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    font-size: .8em;
}
.locationsPractices {
    padding: 15px;
}
.locationsPractices > p {
    margin: 10px 0 15px 5px;
}
.itemHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.itemHolder > a {
    text-decoration: none;
    color: black;
}
.practiceItem {
    box-shadow: 1px 1px 6px grey;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    height: 145px;
    position: relative;
}
.logoHolder {
    margin-top: 15px;
}
.practiceItem > span {
    position: absolute;
    bottom: 25px;
    width: 100%;
    left: 0;
}
@media screen and (max-width: 600px) {
    #mapid {
        display: none;
    }
    .themeBar {
        top: 0;
        border: none;
        box-shadow: none;
    }
}