/* Global CSS */
* {
	padding: 0px;
	margin: 0px;	
}
.centerText {
	text-align: center;
}
.center {
	margin: 0 auto;
}
.container {
	height: 100vh;
	width: 100vw;
}
.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    background-color: rgb(231, 231, 231);
    border-top: 1px solid lightgrey;
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    text-align: center;
}
.footer div {
	padding-top: 20px;
}
.footer a {
	text-decoration: none;
	color: black;
	font-size: .7em;
}
@media screen and (min-width: 600px) {
	.footer {
		grid-template-columns: 1fr;
		position: relative;
		left: 0;
		top: 5px;
		width: 300px;
		background-color: transparent;
		border: none;
	}
	.footer div {
		background-color: white;
		border: 1px solid lightgrey;
		border-radius: 5px;
		height: 40px;
		width: 100%;
		margin-bottom: 5px;
		box-shadow: 1px 1px 6px grey;
	}
}